[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/eigenlayer-contracts"]
	path = contracts/lib/eigenlayer-contracts
	url = https://github.com/Layr-Labs/eigenlayer-contracts
[submodule "contracts/lib/snowbridge"]
	path = contracts/lib/snowbridge
	url = https://github.com/Moonsong-Labs/snowbridge
	branch = solochain
