name: sh-fisherman
description: Datahaven Fisherman node
fullnameOverride: sh-fisherman

image:
  repository: datahavenxyz/datahaven
  tag: main
  pullPolicy: Always

imagePullSecrets:
  - name: datahaven-dockerhub

node:
  command: datahaven-node
  customChainspecUrl: http://dh-bootnode:8080/chainspec.json
  forceDownloadChainspec: true
  role: full
  replicas: 1
  chainData:
    pruning: 1000
    storageClass: "gp2"
  chainKeystore:
    storageClass: "gp2"
  persistGeneratedNodeKey: true
  flags:
    - "--allow-private-ipv4"
    - "--discover-local"
    - "--network-backend libp2p"
    - "--fisherman"
    - "--fisherman-database-url postgresql://indexer:indexer@sh-fisherman-db-postgresql:5432/datahaven"

ingress:
  enabled: false
  perReplica: false
  wildcardDomain: datahaven.local
  # If enabled, this would generate:
  # - sh-fisherman-0.datahaven.local
