[profile.release]
lto = "thin"
opt-level = 2

[registries.crates-io]
protocol = "sparse" 

[target.x86_64-unknown-linux-gnu]
rustflags = [
    "-C", "link-arg=-s",
    "-C", "target-feature=-crt-static",
]