[profile.release]
lto = "thin"
opt-level = 2

[registries.crates-io]
protocol = "sparse" 

[target.x86_64-unknown-linux-gnu]
rustflags = [
    # "-C", "linker=clang",
    # "-C", "link-arg=-fuse-ld=mold",
    "-C", "link-arg=-s",
    "-C", "target-feature=-crt-static",
]

# Allow dynamic linking for build scripts and proc-macros
[build]
rustflags = []