# Validator-specific settings for stagenet

global:
  environment: stagenet
  namespace: kt-datahaven-stagenet

image:
  tag: main
  pullPolicy: Always

imagePullSecrets:
  - name: datahaven-dockerhub

ingress:
  enabled: true
  perReplica: true
  wildcardDomain: datahaven-kt.xyz
  # This will generate:
  # - dh-validator-0.datahaven-kt.xyz
  # - dh-validator-1.datahaven-kt.xyz
  # (based on replica count)
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS":443}]'
    alb.ingress.kubernetes.io/load-balancer-name: dh-validator
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/ssl-policy: ELBSecurityPolicy-TLS-1-2-2017-01
    alb.ingress.kubernetes.io/load-balancer-attributes: idle_timeout.timeout_seconds=120
    alb.ingress.kubernetes.io/target-group-attributes: deregistration_delay.timeout_seconds=30
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:us-east-1:601766312530:certificate/61c2fc57-4ce4-4a80-90b8-2810c1221f09
    external-dns.alpha.kubernetes.io/hostname: dh-validator.datahaven-kt.xyz
    meta.helm.sh/release-name: dh-validator
    meta.helm.sh/release-namespace: kt-datahaven-stagenet

node:
  chain: stagenet-local
  chainData:
    persistence:
      size: 20Gi
  resources:
    requests:
      memory: "512Mi"
      cpu: "200m"
    limits:
      memory: "1Gi"
      cpu: "500m"
  customNodeKey:
    # To generate new key run: docker run --rm -t moonsonglabs/datahaven:latest key generate-node-key
    # 12D3KooWL5Av1ZZSKkaittmxXBmZpzP7zgiB1AAnWHEw7MxzqnFp
    - bdf71a910354e231095366230621eaefb5f99465045f1501478fd3d9b5deef98
    # 12D3KooWAxFonTS177T81CTDeH6mfvJQWYEJeVQ1gPrnULjNY8Cn
    - 2a775a9db9fb0ff40afacb4aa7ccbf2a5d04c6d980bb1437c196c8e38a6cd948
  perNodeServices:
    apiService:
      enabled: true
      type: NodePort
