name: Build

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

env:
    CARGO_TERM_COLOR: always
    WORKING_DIR: operator

jobs:
    cargo-check:
        name: Cargo Check
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ${{ env.WORKING_DIR }}
        steps:
            - uses: actions/checkout@v4

            - name: Install protoc
              run: |
                  sudo apt-get update
                  sudo apt-get install -y protobuf-compiler
                  protoc --version

            - name: Install Rust toolchain
              uses: dtolnay/rust-toolchain@stable
              with:
                  components: rustfmt

            - name: Cache dependencies
              uses: Swatinem/rust-cache@v2

            - name: Run cargo check
              run: cargo check

    cargo-fmt:
        name: Cargo Format
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ${{ env.WORKING_DIR }}
        steps:
            - uses: actions/checkout@v4

            - name: Install protoc
              run: |
                  sudo apt-get update
                  sudo apt-get install -y protobuf-compiler
                  protoc --version

            - name: Install Rust toolchain
              uses: dtolnay/rust-toolchain@stable
              with:
                  components: rustfmt

            - name: Cache dependencies
              uses: Swatinem/rust-cache@v2

            - name: Run cargo fmt
              run: cargo fmt --all -- --check

    cargo-test:
        name: Cargo Test
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ${{ env.WORKING_DIR }}
        steps:
            - uses: actions/checkout@v4

            - name: Install protoc
              run: |
                  sudo apt-get update
                  sudo apt-get install -y protobuf-compiler
                  protoc --version

            - name: Install Rust toolchain
              uses: dtolnay/rust-toolchain@stable
              with:
                  components: rustfmt

            - name: Cache dependencies
              uses: Swatinem/rust-cache@v2

            - name: Run tests
              run: cargo test --verbose
