name: CI
description: "Main CI Specification for DataHaven Repository"

on:
    workflow_dispatch:
    push:
      branches:
        - main
    pull_request:
      branches: [main]

concurrency:
  group: pr-checks-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:

  build-operator:
    uses: ./.github/workflows/task-build-operator.yml
    secrets: inherit

  rust-audit:
    uses: ./.github/workflows/task-rust-audit.yml
    secrets: inherit
  rust-lint:
    uses: ./.github/workflows/task-rust-lint.yml
    secrets: inherit
  ts-build:
    uses: ./.github/workflows/task-ts-build.yml
    secrets: inherit
  ts-lint:
    uses: ./.github/workflows/task-ts-lint.yml
    secrets: inherit
  unit-tests:
    uses: ./.github/workflows/task-rust-tests.yml
    secrets: inherit
  contract-tests:
    uses: ./.github/workflows/task-foundry-tests.yml
    secrets: inherit

  e2e-tests:
    needs: [build-operator, contract-tests]
    uses: ./.github/workflows/task-e2e.yml
    with:
      binary-hash: ${{ needs.build-operator.outputs.binary-hash }}
    secrets: inherit