name: Compare docker builds

on:
  push:

jobs:
  current:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - run: cd docker && docker build -t datahaven --file datahaven-build.Dockerfile .