name: Compare docker builds

on:
  push:

jobs:
  current:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - run: cd operator && docker build -t datahaven --file Dockerfile .
  
  alt: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            /tmp/datahaven
          key: docker
      - name: Set the docker storage driver to accept `local` cache
        run: |
          echo '{
            "features": {
              "containerd-snapshotter": true
            }
          }
          ' | sudo tee /etc/docker/daemon.json
          sudo systemctl restart docker
      - run: cd operator && docker build -t datahaven --file Dockerfile.alt --cache-from type=local,src=/tmp/datahaven --cache-to type=local,dest=/tmp/datahaven .