name: Compare docker builds

on:
  push:

jobs:
  current:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - run: docker build -t datahaven --file ./docker/datahaven-build.Dockerfile ./operator